@charset "ISO-8859-1";

.button {
	  display: inline-block;
	  padding: 5px 5px;
	  font-size: 12px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #fff;
	  background-color: #4c7397;
	  border-radius: 15px;
	  width : 75px;
	  height : 35px;
	}

	.button:hover {background-color: #00FF00}

	.button:active {
	  background-color: #4c7397;
	  transform: translateY(4px); 
	}
